@{
    ViewBag.Title = "Home";
}

<section class="home">
    <div class="row home-container-top">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum, dolor at ullamcorper vehicula, lorem lectus eleifend dolor, vel consequat est magna non sem. Quisque diam risus, tristique ut ex at, mattis eleifend elit. Aliquam tempus justo quis justo posuere volutpat. Nulla ultricies diam lectus, at ultrices justo vehicula in. In laoreet, libero eu condimentum maximus, augue urna aliquet leo, et pulvinar mauris diam a dolor. Vestibulum id diam lacinia, ornare mi a, mollis erat. Nunc sagittis laoreet nisl eget ornare. Vivamus non dui vel risus sagittis tempus. Phasellus interdum elit ac nunc eleifend cursus.
            </p>
            <a href="@Url.Action("Cadastro", "Usuario")" class="btn btn-purple">Fazer cadastro</a>
            <a href="@Url.Action("Login", "Usuario")" class="btn btn-orange">Fazer login</a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 text-center">
            <img src="~/assets/images/home-top.png" />
        </div>
    </div>

    <div class="jumbotron">
        <h2 class="text-center">Lorem ipsum dolor sit amet</h2>
        <div class="teste">
            <p class="col-md-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum, dolor at ullamcorper vehicula, lorem lectus eleifend dolor, vel consequat est magna non.
            </p>
            <p class="col-md-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum, dolor at ullamcorper vehicula, lorem lectus eleifend dolor, vel consequat est magna non.
            </p>
            <p class="col-md-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum, dolor at ullamcorper vehicula, lorem lectus eleifend dolor, vel consequat est magna non.
            </p>
        </div>
    </div>

    <div class="row home-container-bottom">
        <div class="col-md-4 col-sm-12 col-xs-12 text-center">
            <img src="~/assets/images/home-bottom.png" />
        </div>

        <div class="col-md-8 col-sm-12 col-xs-12">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum, dolor at ullamcorper vehicula, lorem lectus eleifend dolor, vel consequat est magna non sem. Quisque diam risus, tristique ut ex at, mattis eleifend elit. Aliquam tempus justo quis justo posuere volutpat. Nulla ultricies diam lectus, at ultrices justo vehicula in. In laoreet, libero eu condimentum maximus, augue urna aliquet leo, et pulvinar mauris diam a dolor. Vestibulum id diam lacinia, ornare mi a, mollis erat. Nunc sagittis laoreet nisl eget ornare. Vivamus non dui vel risus sagittis tempus. Phasellus interdum elit ac nunc eleifend cursus.
            </p>
            <button class="btn btn-green">Entre em contato</button>
            <button class="btn btn-blue">Perguntas frequentes</button>
        </div>
    </div>
</section>