@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtvAw.ttf) format('truetype');
}
/*#region Estilização Genérica*/
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  padding-bottom: unset;
  height: 100%;
  padding-top: unset !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: unset !important;
}
a,
a:is(:hover, :focus, :active) {
  text-decoration: none;
  cursor: pointer;
}
input,
select,
textarea {
  max-width: unset !important;
}
.form-group {
  margin-left: unset !important;
  margin-right: unset !important;
}
.form-group input {
  height: 30px;
}
.body-content {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 61vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: unset !important;
}
/*#endregion Estilização Genérica*/
/*#region Botões*/
.btn,
.btn:is(:hover, :focus, :active) {
  color: #FFFFFF;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  min-width: 180px;
  text-align: center;
  font-weight: 500;
  padding: 8px 12px 6px;
}
.btn-purple {
  background-color: #420076;
  border-color: #420076;
}
.btn-purple:is(:hover, :focus, :active) {
  background-color: #300055;
  border-color: #300055;
}
.btn-orange {
  background-color: #FF3D00;
  border-color: #FF3D00;
}
.btn-orange:is(:hover, :focus, :active) {
  background-color: #CD3403;
  border-color: #CD3403;
}
.btn-green {
  background-color: #329D64;
  border-color: #329D64;
}
.btn-green:is(:hover, :focus, :active) {
  background-color: #2B8555;
  border-color: #2B8555;
}
.btn-blue {
  background-color: #168FFF;
  border-color: #168FFF;
}
.btn-blue:is(:hover, :focus, :active) {
  background-color: #1576CF;
  border-color: #1576CF;
}
@media (max-width: 992px) {
  .btn {
    width: 100%;
  }
}
/*#endregion Botões*/
/*#region Header*/
header {
  background-color: #324974;
}
header .header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}
header .header .welcome {
  display: flex;
  flex-direction: column;
  width: 163px;
}
header .header a,
header .header a:is(:hover, :focus, :active) {
  color: #FFFFFF;
}
header .header h1 {
  text-transform: uppercase;
}
header .header .social {
  width: 160px;
}
header .header .social i {
  font-size: 22px;
  margin: 0 10px;
}
header .navbar {
  border-radius: 0 !important;
}
@media (max-width: 575px) {
  header .header {
    justify-content: center !important;
  }
  header .header .social,
  header .header .welcome {
    display: none !important;
  }
  header .navbar-toggle {
    float: left;
    margin-left: 15px;
  }
  header .social {
    display: flex !important;
  }
  header .social a {
    padding: 10px 0px 10px 15px;
  }
  header .social a i {
    margin: unset;
    font-size: 22px;
  }
}
@media (min-width: 576px) {
  header .div-nav,
  header .navbar-toggle {
    display: none !important;
  }
}
@media (min-width: 768px) {
  header .div-nav {
    display: flex;
    justify-content: center;
  }
}
/*#endregion Header*/
/*#region Footer*/
footer {
  background-color: #324974;
}
footer .footer {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  margin-top: 30px;
}
footer .footer a,
footer .footer a:is(:hover, :focus, :active) {
  color: #FFFFFF;
}
footer .footer h3 {
  text-transform: uppercase;
}
footer .footer .footer-left,
footer .footer .footer-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 150px;
}
footer .credits {
  background-color: #f8f8f8;
  color: #7c7c7c;
  min-height: 30px;
  display: flex;
  align-items: center;
  text-align: end;
}
@media (max-width: 575px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 15px 0;
  }
  .footer h3 {
    display: none;
  }
}
/*#endregion Footer*/
/*#region Home*/
.home .jumbotron {
  margin: 50px 0;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.home .jumbotron h2 {
  margin-bottom: 20px !important;
}
.home .jumbotron p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0px;
}
.home .home-container-top,
.home .home-container-bottom {
  display: flex;
  align-items: center;
}
.home .home-container-top h2,
.home .home-container-bottom h2 {
  margin-bottom: 20px !important;
}
.home .home-container-top p,
.home .home-container-bottom p {
  font-size: 15px;
  padding-bottom: 15px;
}
.home .home-container-top img,
.home .home-container-bottom img {
  width: 180px;
}
@media screen and (max-width: 992px) {
  .home .jumbotron p:nth-child(2) {
    margin: 20px 0;
  }
  .home h2 {
    text-align: center;
  }
  .home .home-container-top {
    flex-direction: column;
  }
  .home .home-container-bottom {
    flex-direction: column-reverse;
  }
  .home .home-container-bottom p {
    margin-bottom: 20px;
  }
  .home .btn {
    margin: 5px 0;
  }
  .home img {
    margin-top: 20px;
  }
}
/*#endregion Home*/
/*#region Cadastro*/
.register {
  border-radius: 10px;
  padding: 25px;
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
}
.register .form-group {
  display: flex;
  flex-direction: column;
}
.register .btn-register {
  padding: 20px 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .register .btn-register {
    display: block;
  }
  .register .btn-register a {
    margin-bottom: 10px;
  }
}
/*#endregion Cadastro*/
/*#region Login*/
.login {
  border-radius: 10px;
  padding: 25px;
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
}
.login .form-group {
  display: flex;
  flex-direction: column;
}
.login .form-group .btn {
  margin-top: 20px;
}
/*#endregion Login*/
/*#region Usuário*/
.edit .form-group {
  display: flex;
  flex-direction: column;
}
.edit .btn-edit {
  padding: 0 15px;
}
@media (max-width: 992px) {
  .edit .btn-edit a {
    margin-bottom: 10px;
  }
}
/*#endregion Usuário*/
/*#region Deletar*/
.delete h3 {
  text-align: center;
  margin-bottom: 15px;
}
.delete dl {
  width: max-content;
  margin: auto;
}
.delete dl dt {
  width: unset;
}
.delete .btn-delete {
  padding: 15px;
  text-align: center;
}
@media (max-width: 992px) {
  .delete .btn-delete a {
    margin-bottom: 10px;
  }
}
/*#endregion Deletar*/