<footer>
    <div class="footer container">
        <div class="footer-left">
            <a href="#">Termos de Uso</a>
            <a href="#">Política de Privacidade</a>
        </div>

        <h3>Estagiei</h3>

        <div class="footer-left">
            <a href="#">Sobre Nós</a>
            <a href="#">Fale Conosco</a>
        </div>
    </div>

    <div class="credits">
        <p class="container">&copy; @DateTime.Now.Year - Estagiei</p>
    </div>
</footer>